.recipe-card-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}

.put-delete-buttons,
.img-container {
  display: flex;
}

.edit-delete-buttons {
  flex-flow: row wrap;
  justify-content: center;
  width: 350px;
  margin: -195px 0 0 400px;
  padding: 0 20px 20px;
}

.edit-button, 
.delete-button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  padding:0 40px 10px;
  
}

.img-container {
  /* height: 248px;
  width: 248px;
  border-radius: 50%; */
  margin: 25px 0 0 95px;
}

.recipe-img {
  height: 250px;
  width: 240px;
  border-radius: 50%;
  border: 2.5px solid #000000;
  
}

.recipe-content {
  background-color: #ffffff;
  display: flex;
  flex-flow: column wrap;
  width: 850px;
  margin: 0 auto 50px ;
  padding-top: 50px;
  box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.65);
}

.recipe-title,
.recipe-info,
.recipe-directions {
  display: flex;
  justify-content: center;
}

.recipe-title {
  font-size: 26px;
  margin: -70px 2px 0 0;
}

.recipe-info {
  flex-flow: column wrap;
  justify-items: center;
  margin: -10px 0 0 290px;
}

.recipe-prompt {
  font-size: 20px;
  font-weight: 500;
}

.prep,
.bake-cook,
.serving-amount {
  margin: 3px 0 0 0;
}

.recipe-ingredients {
  width: 250px;
  margin: 50px 0 0 15px;
}

.ingredient-tag{
  justify-content: flex-start;
}

.ingredient-item,
.direction-item {
  font-size: 14px;
}

.ingredient-list,
.direction-list {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}

.recipe-ingredients,
.recipe-directions {
  flex-flow: row wrap;
  justify-content: flex-start;
}

.recipe-directions {
  width: 550px;
  margin: -245px 0 40px 268px;
}

.direction-tag {
  margin: 0  0 0 40px; 
}
