.login-signup-img {
display: flex;
  justify-content: center;
  align-content: center;
}

.login-signup-container {
  display: flex;
}

.login-signup-form {
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin: 80px auto 30px;
}

.username,
.email,
.password,
.password-confirmation{
  font-weight: bold;
  color: #ffffff;
  margin: 10px 0;
  padding: 13px 0;
  border: 1px solid #000000;
  background-color: rgba(0, 0, 0, .35);
}

.username,
.email,
.password,
.password-confirmation{
  width: 650px;
  font-size: 20px;
  letter-spacing: 1px;
}

.username::placeholder,
.email::placeholder,
.password::placeholder,
.password-confirmation::placeholder {
  color: #ffffff;
}

input.username,
input.email,
input.password,
input.password-confirmation{
  padding-left: 13px;
}

.login-signup-button {
  margin-top: 30px;
  background-color: transparent;
  font-size: 23px;
  text-align: center;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

/*===========================
  Tablet Responsive Design
============================*/
@media screen and (min-width: 670px) and (max-width: 720px) {
  .login-signup-form {
    display: flex;
    justify-content: center;
    flex-flow: column;
  }
}

/*===========================
Mobile Responsive Design
============================*/
@media screen and (max-width: 670px) {
  .login-signup-img {
    background-image: none;
    background-color:#EADDCA ;
  }
  
  .username,
  .email,
  .password,
  .password-confirmation{
    width: auto;
    font-size: 20px;
    letter-spacing: 1px;
  }
}
