main {
  display: flex;
}
.landing-content {
  display: flex;
  flex-flow: column wrap;
  height: 85vh;
  margin: 10px 0;
  align-content: space-evenly;
}

.logo {
  background: url(http://i.imgur.com/LaPp5S9.png);
}

.landing-img {
  background: url(https://images.unsplash.com/photo-1517686469429-8bdb88b9f907?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80);
}

/*==========================
  Tablet Responsive Design
==========================*/

/*==========================
  Mobile Responsive Design
==========================*/
