.landing-content {
  display: flex;
  flex-flow: column wrap;
  height: 85vh;
  margin: 10px 0;
  align-content: space-evenly;
}
.add-vendor-info,
.add-vendor-form {
  width: 450px;
}
.add-vendor-info,
.add-vendor-form,
.add-vendor-button-box {
  font-family: "Montserrat", sans-serif;
  flex-direction: column;
  justify-content: center;
}
.add-vendor-info {
  margin: 60px auto 0;
  font-size: 28px;
  text-align: center;
  font-weight: bold;
}
.add-vendor-form {
  margin: 60px 60px 0 0;
}


.add-vendor-description,
.add-vendor-image,
.add-vendor-hours,
.add-vendor-button {
  font-size: 20px;
  width: 450px;
}





/*==========================
  Tablet Responsive Design
==========================*/

/*==========================
  Mobile Responsive Design
==========================*/
