.landing-page {
  display: grid;
  grid-template-areas: 
    "landing-content landing-img";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  /* width: 100%; */
  width: 100vw;
}

.landing-img {
  width: 50vw;
  height: auto;
  overflow: hidden;
}
.bread {
  /* width: 50vw; */
  /* transform: translate(-35%); */
  height: 100%;
}

.landing-content {
 display: flex;
 flex-flow: column wrap;
 justify-items: center;
}
a:link{
  margin: 0 auto;
}

.branding-slogan {
  margin: 0 auto;
  font-weight: 500;
}

.branding-word {
  font-size: 24px;
}

.intro {
  width: 80%;
  text-align: center;
  margin: 60px auto 0;
}

/*===========================
  Tablet Responsive Design
============================*/
/* @media screen and (min-width: 750px) and (max-width: 750px) {
  
} */

/*===========================
  Mobile Responsive Design
============================*/
@media screen and (min-width: 340px) and (max-width: 750px){
  .landing-page {
    display: grid;
    grid-template-columns: 0;
    grid-template-rows: auto auto;
    width: auto;
    margin-top: 47px;
  }

  .bread {
    display: none;
  }

  .landing-img {
    width: auto;
    height: auto;
    overflow: none;
  }
  }
