/* main{
  display: flex;
} */

.recipe-card,
.recipe-card a {
  /* background-size: 150px; */
  width: 240px;
  height: 325px;
  font-family: "Montserrat", sans-serif;
}

.recipe-card {
  margin: 20px 60px 35px;
  box-shadow: 3px 3px 3px 1px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-card-image {
 
  width: 240px;
  height: 325px;
  /* background-position: center; */
}

.vendor-card-name,
.vendor-card-name a {
  color: #000000;
  font-size: 28px;
  font-weight: 500;
}

p.vendor-card-name {
  align-content: center;
}

a.card {
  border: none;
}

