.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-card,
.card-img {
  width: 180px;
  height: 240px;
  border-radius: 10px;
}

.recipe-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  margin: 40px 30px 80px;
  box-shadow: 3px 3px 3px 1px;
}

.card-img {
  background-position: center;
}

.card-name-container {
  text-align: center;
  color: 000000;
 
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #000000;
}
