/* .background-img{
  background:
    url(https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80)
    no-repeat center fixed ;
  background-size: cover;
  display: flex;
  flex-flow: column wrap;
} */

header {
background-color: red;
}
.user-logged-out {
  background-color: blue;
}
.user-logged-in {
  background-color: yellow;
}


/*===========================
  Mobile Responsive Design
============================*/
@media screen and (max-width: 670px) {
  .background-img {
    background-image: none;
    background-color:#EADDCA ;
  }
}