header {
display: flex;
flex-flow: row wrap;
justify-content: space-between;
align-content: center;
height: 200px;
background-color: rgba(0, 0, 0, 0.3);
}
a.login-signup-buttons {
  display: flex;
  font-size: 23px;
  justify-content: center ;
  width: 100vw;
}




/*===========================
  Mobile Responsive Design
============================*/
@media screen and (max-width: 670px) {
  .background-img {
    background-image: none;
    background-color:#EADDCA ;
  }
}