header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  height: 175px;
  background-color: rgba(0, 0, 0, 0.3);
  }
  div a.login-signup-buttons {
    font-size: 23px;
    margin-top: -115px;
  }
.background-img{
  background:
  url(https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80)
  no-repeat center fixed ;
  background-size: cover;
}
.recipes{
  margin: 10px;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
}


/*===========================
  Tablet Responsive Design
============================*/



/*===========================
  Mobile Responsive Design
============================*/
@media screen and (max-width: 500px) {
  .receips-background-img {
    background-image: none;
    background-color: #EADDCA;
  }
}