.post-edit-img{
  background:
    url(https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80)
    no-repeat center fixed ;
  background-size: cover;
 
    /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: fixed; */
  height: 100vh;
}

.post-edit-container {
  display: flex;
  flex-flow: column wrap;
  margin: 10px 0;
  padding: 70px 0;
  align-content: center;
}
.drop-down,
.post-edit-form {
  display: flex;
  justify-content: center;
  flex-flow: column;
}
.drop-down,
.recipe-name,
.img-url,
.prep-time,
.bake-cook-time,
.servings,
.ingredients,
.directions{
  font-weight: bold;
  color: #000000;
  margin: 10px 0;
  padding: 13px 0;
  border: 1px solid #000000;
  box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.65);
}
.drop-down {
  width: 665px;
  font-size: 20px;
  letter-spacing: 1px;
}


.category-id,
.recipe-name,
.img-url,
.prep-time,
.bake-cook-time,
.servings,
.ingredients,
.directions{
  width: 650px;
  font-size: 20px;
  letter-spacing: 1px;
}
.recipe-name::placeholder,
.img-url::placeholder,
.prep-time::placeholder,
.bake-cook-time::placeholder,
.servings::placeholder,
.ingredients::placeholder,
.directions::placeholder,
.add-vendor-hours::placeholder {
  color: #000000;
  font-family: "Montserrat", sans-serif;
}
select.drop-down,
input.recipe-name,
input.img-url,
input.prep-time,
input.bake-cook-time,
input.servings,
textarea.ingredients,
textarea.directions{
  padding-left: 13px;
  font-family: "Montserrat", sans-serif;
}

.post-edit-button {
  margin-top: 30px;
  background-color: transparent;
  font-size: 23px;
  text-align: center;
  border: none;
}

/*===========================
  Tablet Responsive Design
============================*/



/*===========================
  Mobile Responsive Design
============================*/
